TYPE=Bridge
BOOTPROTO=static
IPADDR={{ net.address }}
PREFIX={{ net.prefix }}
GATEWAY={{ net.gateway }}
DNS1={{ net.dns.1 }}
DNS2={{ net.dns.2 }}
DOMAIN={{ net.domain }}
DEVICE={{ net.iface.bridge }}
